* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
}

.circular-square {
  position: relative;
  width: 220px;
  height: 220px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2), 0 8px 16px rgba(0, 0, 0, .2);
}

.circular-square img {
  width: 100%;
  height: auto;
}

header {
  text-align: center;
}

header p {
  font-size: 2.5rem;
  text-decoration: underline;
}

.container {
  background-color: #e0d6d5;
  min-height: 100vh;
  border: 10px solid #1d1e4c;
  background: url(Sri-Ramakrishna-Temple-9.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
}

.content {
  max-width: 900px;
  /* margin: 0 auto; */
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 5;
  background-color: rgba(252, 252, 252, 0.58) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  border-radius: 3px;
}

.top_section {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.top_section h1 {
  font-size: 50px;
  font-weight: bold;
  color: #1d1e4c;
  text-transform: uppercase;
}

.top_section h4 {
  font-size: 30px;
  text-align: end;
}

.about_section {
  margin-top: 50px;
}

.about_section h2 {
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 20px;
}

.about_section p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.1px;
  text-align: justify;
}

.teaching_section {
  margin: 50px 0;
}

.teaching_section h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

.teaching_section p {
  margin-bottom: 15px;
  font-size: 18px;
  letter-spacing: 1.04px;
  font-style: oblique;
  font-family: 'Times New Roman', Times, serif;
  line-height: 24px;
}

footer {
  margin: 50px 0;
}

footer p {
  text-align: end;
}

.top_p
{
  margin-top: 1em;
}